<div class="container">
    <div class="tools">
        @switch (windowType) {
        @case ('Browser') {
        <a>File</a>
        <a>Edit</a>
        <a>Go</a>
        <a>Favorites</a>
        <a>Help</a>
        }
        @case ('My CV') {
        <a>File</a>
        <a>Edit</a>
        <a>Export</a>
        <a>Open </a>
        <a>Help</a>
        }
        @case ('Projects') {
        <a>File</a>
        <a>Edit</a>
        <a>Search</a>
        <a>Help</a>
        }
        }


    </div>
    <hr>
</div>