<app-navbar [nav_list]="openWindows"></app-navbar>
<div class="desktop">
    @for (app of apps_desktop; track $index) {
    <div class="app" cdkDrag [cdkDragFreeDragPosition]="app.position" (cdkDragEnded)="onDragEnd($event, app)"
        (dblclick)="openWindow(app)">
        <img src="{{app.url}}">
        <span class="caption">{{app.name}}</span>
    </div>
    }
    @for (window of openWindows; track $index) {
    <div id="window-{{window.name.trim()}}" class="window" cdkDrag [cdkDragFreeDragPosition]="window.position">
        <div class="ctrlbar" cdkDragHandle>
            <img src="{{window.url}}"> {{ window.name }}
            <div class="controlls">
                <button (click)="closeWindow(window)"><i class="fa-solid fa-window-minimize"></i></button>
                <button (click)=" maximizeWindow(window)"><i class="fa-regular fa-window-maximize"></i></button>
                <button (click)="closeWindow(window)"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="content">
            <app-window-tools [windowType]="window.name"></app-window-tools>
            @switch (window.name) {
            @case ('Browser') {
            <app-browser [window]="window"></app-browser>
            }
            @case ('') {

            }
            }
        </div>
    </div>
    }
</div>